[access "refs/*"]
        owner = group android_device_google_seed
                label-Verified = -1..+1 group android_device_google_seed
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[access "refs/heads/*"]
	abandon = group android_device_google_seed
	forgeAuthor = group android_device_google_seed
	forgeCommitter = group android_device_google_seed
	push = group android_device_google_seed
	label-Code-Review = -2..+2 group android_device_google_seed
	label-Verified = -1..+1 group android_device_google_seed
	submit = group android_device_google_seed
	editTopicName = group android_device_google_seed
